<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Smart Garden Dashboard</title>
		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<!-- FontAwesome -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
		/>
		<!-- Custom CSS -->
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="./">Smart Garden IUH</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto gap-3">
						<li class="nav-item">
							<button id="" class="btn btn-success">
								<a href="./setting" style="color: white; text-decoration: none"
									>Cài đặt</a
								>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container py-4">
			<h1 class="text-center mb-5 text-success">Smart Garden Dashboard</h1>
			<!-- Sensor Cards -->
			<div class="container mt-5 col-lg-8">
				<div class="row mt-4 justify-content-center">
					<!-- Soil Moisture -->
					<div class="col-md-4 col-lg-4 mb-4">
						<div class="card shadow-sm text-center">
							<div class="card-body">
								<i class="fas fa-seedling fa-2x mb-2"></i>
								<h5 class="card-title">Độ ẩm đất</h5>
								<span class="sensor-info">Cập nhật lần cuối</span>
								<p id="soilMoisture" class="sensor-value">
									<%= sensor.data.soilMoisture %>%
								</p>
								<span class="sensor-info"><%= sensor.timestamp %></span>
							</div>
						</div>
					</div>

					<!-- Temperature -->
					<div class="col-md-4 col-lg-4 mb-4">
						<div class="card shadow-sm text-center">
							<div class="card-body">
								<i class="fas fa-thermometer-half fa-2x mb-2"></i>
								<h5 class="card-title">Nhiệt độ</h5>
								<span class="sensor-info">Cập nhật lần cuối</span>
								<p id="temperature" class="sensor-value">
									<%= sensor.data.temperature %>°C
								</p>
								<span class="sensor-info"><%= sensor.timestamp %></span>
							</div>
						</div>
					</div>

					<!-- Humidity -->
					<div class="col-md-4 col-lg-4 mb-4">
						<div class="card shadow-sm text-center">
							<div class="card-body">
								<i class="fas fa-tint fa-2x mb-2"></i>
								<h5 class="card-title">Độ ẩm</h5>
								<span class="sensor-info">Cập nhật lần cuối</span>
								<p id="humidity" class="sensor-value">
									<%= sensor.data.humidity %>%
								</p>
								<span class="sensor-info"><%= sensor.timestamp %></span>
							</div>
						</div>
					</div>

					<!-- Light Level -->
					<div class="col-md-4 col-lg-4 mb-4">
						<div class="card shadow-sm text-center">
							<div class="card-body">
								<i class="fas fa-sun fa-2x mb-2"></i>
								<h5 class="card-title">Độ sáng</h5>
								<span class="sensor-info">Cập nhật lần cuối</span>
								<p id="lightLevel" class="sensor-value">
									<%= sensor.data.timeOfDay %>
								</p>
								<span class="sensor-info"><%= sensor.timestamp %></span>
							</div>
						</div>
					</div>

					<!-- Water Level -->
					<div class="col-md-4 col-lg-4 mb-4">
						<div class="card shadow-sm text-center">
							<div class="card-body">
								<i class="fas fa-bucket fa-2x mb-2"></i>
								<h5 class="card-title">Mực nước</h5>
								<span class="sensor-info">Cập nhật lần cuối</span>
								<p id="waterLevel" class="sensor-value">
									<%= sensor.data.waterLevel %>%
								</p>
								<span class="sensor-info"><%= sensor.timestamp %></span>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-lg-4 mb-4">
						<div class="card shadow-sm text-center">
							<div class="card-body">
								<i class="fas fa-gears fa-2x mb-2"></i>
								<h5 class="card-title">Chế độ chăm sóc</h5>
								<p id="careMode" class="sensor-mode mt-4 mb-4">Tự động</p>
								<span class="sensor-info"><%= sensor.timestamp %></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Charts -->
			<div class="row mt-4">
				<div class="col-md-6">
					<div class="chart-container">
						<canvas id="temperatureChart"></canvas>
					</div>
				</div>
				<div class="col-md-6">
					<div class="chart-container">
						<canvas id="humidityChart"></canvas>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-md-6">
					<div class="chart-container">
						<canvas id="soilMoistureChart"></canvas>
					</div>
				</div>
				<div class="col-md-6">
					<div class="chart-container">
						<canvas id="waterLevelChart"></canvas>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer -->
		<footer
			class="text-white text-center py-3 mt-5"
			style="background-color: #2e7d32"
		>
			<div class="container">
				<p class="mb-0">© 2024 Smart Garden IUH. All rights reserved.</p>
				<p class="mb-0">
					Developed by
					<a href="#" class="text-white fw-bold"
						>Nguyễn Minh Ý & Phạm Quốc Trung</a
					>
				</p>
			</div>
		</footer>
		<!-- Scripts -->
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.6/lottie.min.js"></script>
		<script src="js/script.js"></script>
		<script></script>
	</body>
</html>
